<footer>
  <div class="footer-contact">
    <div class="footer-mail"><%= email %></div>
  </div>
  <div class="footer-copyrights">
    <div class="nm-container row-reverse justify-between align-center">
      <div class="site-copyrights fluid-width">
        <% if(lang == 'en') {%> All Rights Reserved to <%= title %>
        <a
          href="/privacy-policy"
          style="text-decoration: underline; font-weight: bold"
          >Privacy Policy</a
        >
        <a
          href="/about-ads"
          style="text-decoration: underline; font-weight: bold"
          >Ad Appearance</a
        ><%}else{%> جميع الحقوق محفوظة لدي موقع <%= title %> <%}%>
        <a
          href="/privacy-policy"
          style="text-decoration: underline; font-weight: bold"
          >سياسة الخصوصية</a
        >
        <a
          href="/about-ads"
          style="text-decoration: underline; font-weight: bold"
          >ظهور الاعلانات</a
        >
      </div>
    </div>
  </div>
</footer>
