<header>
  <div class="nm-container">
    <div style="
    margin: auto;
"
      class="no-rl-padding sm-padding-container <% if(lang == 'en') {%>row-reverse <%}else{%>row <%}%> nowrap justify-between align-center fluid-height"
    >
    <% if(lang == 'en'){  %>
<style>
  body{
    text-align: left;
  }
  .justify-start{
    justify-content: flex-end;
  }
</style>

   <% } %>
      <div class="header-title <% if(lang == 'en') {%>row-reverse <%}else{%>row <%}%> nowrap justify-between align-center">
        <img src="<%= logoDist.replace('/public','') %>" alt="مواقيت الصلاة" />
        <h1 <% if(lang == 'en') {%>
            style="margin: 0px ;margin-left: 10px;text-align: left"
            <%}%>><%= title %></h1>
      </div>
      <nav class="row nowrap justify-between align-center">
        <i class="fas fa-bars navbar-toggle"></i>
        <ul class="ul row nowrap justify-between" <% if(lang=='en'){ %> style='right=50px' <% } %>>
          <li id="azkar"><a href="/posts/0">اذكار</a></li>
          <li id="posts"><a href="/posts/2">مواضيع</a></li>
          <li id="doua"><a href="/posts/1">ادعية</a></li>
        </ul>
        <select class="row justify-center align-center" id="langSelect">
          <% if(lang == 'en') {%>
          <option value="ar">العربية</option>
          <option selected value="en">English</option>
          <%}else{%>
          <option selected value="ar">العربية</option>
          <option value="en">English</option>
          <%}%>
        </select>
      </nav>
    </div>
  </div>
</header>
<div class="header-space"></div>
