* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

.no-margin {
  margin: 0px !important;
}

.no-rl-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-lr-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.txt-center {
  text-align: center;
}

.fluid-height {
  height: 100% !important;
}

.fluid-width {
  width: 100% !important;
}

.fluid-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.lg-container {
  padding-right: 25px;
  padding-left: 25px;
  width: calc(100% - 50px);
}

.md-container {
  padding-right: 50px;
  padding-left: 50px;
  width: calc(100% - 100px);
}

.nm-container {
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 50px);
}

@media (min-width: 768px) {
  .nm-container {
    width: calc(100% - 80px);
  }
}

@media (min-width: 992px) {
  .nm-container {
    width: calc(100% - 120px);
  }
}

@media (min-width: 1200px) {
  .nm-container {
    width: calc(100% - 200px);
  }
}

.nm-padding-container {
  padding-right: 25px;
  padding-left: 25px;
  width: calc(100% - 50px);
}

@media (min-width: 768px) {
  .nm-padding-container {
    padding-right: 50px;
    padding-left: 50px;
    width: calc(100% - 100px);
  }
}

@media (min-width: 992px) {
  .nm-padding-container {
    padding-right: 70px;
    padding-left: 70px;
    width: calc(100% - 140px);
  }
}

@media (min-width: 1200px) {
  .nm-padding-container {
    padding-right: 100px;
    padding-left: 100px;
    width: calc(100% - 200px);
  }
}

.sm-padding-container {
  padding-right: 12.5px;
  padding-left: 12.5px;
  width: calc(100% - 25px);
}

@media (min-width: 768px) {
  .sm-padding-container {
    padding-right: 25px;
    padding-left: 25px;
    width: calc(100% - 50px);
  }
}

@media (min-width: 992px) {
  .sm-padding-container {
    padding-right: 45px;
    padding-left: 45px;
    width: calc(100% - 90px);
  }
}

@media (min-width: 1200px) {
  .sm-padding-container {
    padding-right: 50px;
    padding-left: 50px;
    width: calc(100% - 100px);
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.align-content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.align-self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.align-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.select {
  padding: 5px 10px;
  font-size: var(--nm-font);
  color: var(--primary-text-color);
  border: none;
  border-radius: var(--md-border-radius);
  cursor: pointer;
}

.hv-in:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.hv-out:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hv-in-out:hover {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-animation: hv-in-out 0.7s forwards;
          animation: hv-in-out 0.7s forwards;
}

@-webkit-keyframes hv-in-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes hv-in-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=all.css.map */