<header>
  <div class="nm-container">
    <div
      class="no-rl-padding sm-padding-container row nowrap justify-between align-center fluid-height"
    >
      <div class="header-title row nowrap justify-between align-center">
        <h1 style="width: fit-content"><%= title %></h1>
      </div>
      <nav class="row nowrap justify-end align-center">
        <i class="fas fa-bars navbar-toggle"></i>
        <ul class="ul row nowrap justify-between">
          <li><a href="/admin/dashboard">الرئيسية</a></li>
          <li><a href="/admin/posts/0">الأذكار</a></li>
          <li><a href="/admin/posts/1">الأدعية</a></li>
          <li><a href="/admin/posts/2">المواضيع</a></li>
          <li><a href="/admin/users">الأعضاء</a></li>
          <li><a href="/admin/countries">البلدان</a></li>
          <li><a href="/admin/settings">الاعدادات</a></li>
          <li><a href="/admin/logout">تسجيل الخروج</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="header-space"></div>
